@import "tailwindcss";
@plugin "daisyui";

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 32px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #7747ff;
}

.BgImg1{
   background-image: url("../public/BgImg1.jpeg");
   background-position: center;
   background-size: cover;
   object-fit: cover;
}